/* main content setup */

body {
  background-color:white;
 /* border: 1px;*/

  font-family:Corbel,sans-serif;
}

#header {
  height:240px;
  width:910px;
  margin:0px auto;
}

#banner {
  position:relative;

  height:200px;

  margin-right:47px;
  margin-left:47px;
  margin-bottom:10px;

  background-image:url('../img/banner.png');
  background-repeat:no-repeat;
}

#footer > p {
	color:gray;
	text-align:left;
	white-space:nowrap;
  width:910px;
  margin:0px auto;
}

/** NavBar setup **/

#navBar {
  height:30px;

  background-color:#46c846;
  vertical-align:middle;
}

#navButtons {
  height:30px;
}

#navButtons > div:hover {
  background-color:#469646;
  cursor:pointer;
}

.navButton {
  width:130px;
  height:30px;

  font-size:20px;
  color:white;
  text-align:center;
}

.navButton > span {
  position:relative;
  top:3px;
}

#gisButton {
  position:relative;
  left:130px;
  top:-30px;
}

#jbrowseButton {
  position:relative;
  left:260px;
  top:-60px;
}

#blastButton {
  position:relative;
  left:390px;
  top:-90px;
}

#forumButton {
  position:relative;
  left:520px;
  top:-120px;
}

#downloadsButton {
  position:relative;
  left:650px;
  top:-150px;
}

#searchButton {
  position:relative;
  left:780px;
  top:-180px;
}

/** Home Page setup **/

#homePage {
	width:910px;
  height:600px;
  margin:0px auto;
}

#mainPanel {
  position:relative;
  left:210px;
  top:-420px;
  margin:5px;
  margin-right:210px;
  margin-top:0px;
  width:700px;
}

#mainPanel > h3 {
  text-align:center;
}

#sidePanel {
  width:210px;
  height:420px;
}

#sidePanel > ul {
  list-style-type:none;
  color:#969696;
  text-align:left;
  padding:0px;
  margin-top:30px;
  margin-bottom:10px;
  width:150px;
}

#sidePanel > ul > li {
  text-align:center;
  padding: 10px;
}

#sidePanel > ul > li:hover {
  font-weight:bold;
  cursor:pointer;
}

#mainPortals {
  margin-top:45px;
  height:325px;
}

.portal > h4 {
  text-align:center;
}

#genomicsPortal {
 /* float:left;*/

  width:265px;
  height:325px;
  /*margin-left:150px;*/
}

#geobiologyPortal {
  position:relative;
  left:365px;
  top:-325px;

  width:265px;
  height:325px;

  /*float:right;
  margin-left:150px;*/
}

/** GIS Page Setup **/

#gisPage {
  margin-top:10px;
	width:80%;
  height:90%;
  margin-left:auto;
  margin-right:auto;
}

/*#gisSidePanel {
  width:210px;
  height:420px;
}*/

#gisFilters {
	width:150px;
	height:420px;
}

#map {
 /*display:inline-block;*/
 position:relative;
  left:150px;
  top:-420px;

 margin-right:150px;
}

/** JBrowse Page Setup **/

#jbrowsePage {
	margin-top:10px;
}

#jbrowsePage > iframe {
  margin:0px 5%;
  width:90%;
  height:90%;
}

/** Whats New Page Setup **/

#whatsNewPage {
	width:910px;
  height:600px;
  margin:0px auto;
}

#whatsNewPage > h3 {
	text-align:center;
}

#whatsNewPage > table {
	margin:0px auto;

	border-style:solid;
	border-width:5px;
}

#footer {
	margin-top:10px;
}
