/* main content setup */

#content {
  width:70%;
  background-color:white;
  margin:0px 15%;
  border: 1px;
}

#header {
  height:150px;
}

#logo {
  margin-left:25px;
  margin-right:25px;

  height:150px;
  width:200px;

  background-image:url('../img/logo.gif');
  background-repeat:no-repeat;
}

#banner {
  position:relative;
  left:200px;
  top:-150px;

  height:150px;
  width:700px;

  background-image:url('../img/banner.gif');
  background-repeat:no-repeat;
}

#mainPanel {
  position:relative;
  left:200px;
  top:-420px;
  margin:5px;
  margin-right:200px;
  margin-top:0px;
}

/** Side Panel setup **/

#sidePanel {
  width:200px;
  height:420px;
}

#sidePanel > ul {
  list-style-type:none;
  font-family:Sans-serif;
  color:#969696;
  text-align:left;
  padding:0px;
  margin-top:30px;
  margin-bottom:10px;
  width:150px;
}

#sidePanel > ul > li {
  text-align:center;
  padding: 10px;
}

#sidePanel > ul > li:hover {
  font-weight:bold;
}

/** NavBar setup **/

#navBar {
  width:100%;
  height:30px;

  background-color:#46c846;
}

#navButtons {
  position:relative;
  /*left:200px;*/

  height:30px;
}

.navButton {
  width:150px;
  height:30px;
}

#homeButton {
  background-image:url('../img/home_button.png');
/*  background-color:#46af46;*/
}

#homeButton:hover {
  background-color:#469646;
}

#gisButton {
  position:relative;
  left:150px;
  top:-30px;

  background-image:url('../img/gis_button.png');
}

#gisButton:hover {
  background-color:#469646;
}

#jbrowseButton {
  position:relative;
  left:300px;
  top:-60px;

  background-image:url('../img/jbrowse_button.png');
}

#jbrowseButton:hover {
  background-color:#469646;
}

#blastButton {
  position:relative;
  left:450px;
  top:-90px;

  background-image:url('../img/blast_button.png');
}

#blastButton:hover {
  background-color:#469646;
}

#forumButton {
  position:relative;
  left:600px;
  top:-120px;

  background-image:url('../img/forum_button.png');
}

#forumButton:hover {
  background-color:#469646;
}

#downloadsButton {
  position:relative;
  left:750px;
  top:-150px;

  background-image:url('../img/downloads_button.png');
}

#downloadsButton:hover {
  background-color:#469646;
}

#searchButton {
  position:relative;
  left:900px;
  top:-180px;

  background-image:url('../img/search_button.png');
}

#searchButton:hover {
  background-color:#469646;
}
