/* main content setup */

body {
  background-color:white;
  font-size:12px;
 /* border: 1px;*/

  font-family:Corbel,sans-serif;
}

#header {
  height:190px;
  width:910px;
  margin:0px auto;
}

#banner {
  position:relative;

  height:150px;

  margin-right:26px;
  margin-left:26px;
  margin-bottom:10px;

  background-image:url('../img/banner.png');
  background-repeat:no-repeat;
}

#footer > p {
	color:gray;
	text-align:left;
	white-space:nowrap;
  width:910px;
  margin:0px auto;
}

/** NavBar setup **/

#navBar {
  height:25px;

  /*background-color:#46c846;*/
  /*background-color:#009214;*/
  background-color:#009200;
  vertical-align:middle;
}

#navButtons {
  height:25px;
}

#navButtons > div:hover {
  /*background-color:#469646;*/
  /*background-color:#005b2d;*/
  background-color:#005b00;
  cursor:pointer;
}

.navButton {
  width:130px;
  height:25px;

  font-size:17px;
  /*font-weight:bold;*/
  color:white;
  text-align:center;
}

.navButton > span {
  position:relative;
  top:3px;
}

#gisButton {
  position:relative;
  left:130px;
  top:-25px;
}

#jbrowseButton {
  position:relative;
  left:260px;
  top:-50px;
}

#blastButton {
  position:relative;
  left:390px;
  top:-75px;
}

#forumButton {
  position:relative;
  left:520px;
  top:-100px;
}

#downloadsButton {
  position:relative;
  left:650px;
  top:-125px;
}

#searchButton {
  position:relative;
  left:780px;
  top:-150px;
}

/** Home Page setup **/

#homePage {
	width:910px;
  height:650px;
  margin:0px auto;
}

#mainPanel {
  position:relative;
  left:210px;
  top:-420px;
  margin:5px;
  margin-right:210px;
  margin-top:0px;
  width:700px;
  font-size:15px;
}

#mainPanel > h3 {
  text-align:center;
}

#mainPanel > p { 
	line-height:150%;
}

#sidePanel {
  width:210px;
  height:420px;
}

#sidePanel > ul {
  list-style-type:none;
  /*color:#969696;*/
  color:#7d7d7d;
  text-align:left;
  padding:0px;
  margin-top:30px;
  margin-bottom:10px;
  width:150px;
}

#sidePanel > ul > li {
  text-align:center;
  padding: 10px;
}

#sidePanel > ul > li:hover {
  font-weight:bold;
  cursor:pointer;
}

#mainPortals {
  margin-top:45px;
  height:300px;
}

.portal > h4 {
  text-align:center;
}

#genomicsPortal:hover {
  cursor:pointer;
}

#geobiologyPortal:hover {
  cursor:pointer;
}

#genomicsPortal {
 /* float:left;*/

  width:200px;
  height:300px;
  margin-left:50px;
}

#geobiologyPortal {
  position:relative;
  left:400px;
  top:-300px;

  width:200px;
  height:300px;

  /*float:right;
  margin-left:150px;*/
}

/** GIS Page Setup **/

#gisPage {
  margin-top:10px;
	width:100%;
  height:90%;
  margin-left:auto;
  margin-right:auto;
}

/*#gisSidePanel {
  width:210px;
  height:420px;
}*/

#gisFilters {
	width:200px;
	height:420px;
}

#map {
 /*display:inline-block;*/
 position:relative;
  left:200px;
  top:-420px;

 /*margin-right:200px;*/
}

/** JBrowse Page Setup **/

#jbrowsePage {
	margin-top:10px;
}

#jbrowsePage > iframe {
  margin:0px 5%;
  width:90%;
  height:90%;
}

/** Whats New Page Setup **/

#whatsNewPage {
	width:910px;
  height:600px;
  margin:0px auto;
}

#whatsNewPage > h3 {
	text-align:center;
}

#whatsNewPage > table {
	margin:0px auto;

	border-style:solid;
	border-width:5px;
}

/** Data Mapping Portal **/

#dataMappingPortal {
	width:910px;
  /*height:650px;*/
  margin:0px auto;
}

#dataForm {
  text-align:center;
  font-style:italic;
}

#dataMappingPortal > h2 {
	text-align:center;
}

#dataMappingPortal > h3 {
	text-align:center;
}

#footer {
	margin-top:10px;
}

#footer > p {
  text-align:center;
}
